.top-black-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  height: 26%;
  justify-content: space-between;
  .recommend-title-container {
    margin-top: 16%;
    margin-left: 20px;
    .recommend-usernickname-text {
      font-size: 20px;
    }
    .recommend-place-text {
      font-size: x-large;
      font-weight: 500;
      margin-top: 3px;
    }
  }
}

.recommend-button-container {
  position: relative;
  display: flex;
  justify-content: space-between;

  .recommend-button-inner {
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-size: 16px;
    position: relative; // 클릭 시 배경 색상용
    color: #707070;

    &.active {
      color: white;
    }
  }
  .recommend-log-text {
    margin-bottom: 10px;
  }
  .recommend-bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 5px;
    background-color: white;
    opacity: 0.4;
    transition: transform 0.15s ease;
    transform: translateX(0%); // 기본 위치
  }
}

.recommend-contents-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.test-drop-down {
  display: flex;
  margin-top: 25px;
  width: 100px;
  height: 28px;
  border: 1.3px solid;
  border-radius: 20px;
  border-color: #d4d4d4;
  color: #8b8b8b;
  justify-content: center;
  font-size: small;
  .rkdskarn {
    margin-right: 3px;
    position: relative;
    top: 2px;
  }
  .ghktkfvy {
    margin-left: 3px;
    position: relative;
    top: 7px;
  }
}
.dropdown-list-ul-container {
  position: relative;

  .dropdown-list-ul {
    border-radius: 16px;
    border: 1.3px solid;
    border-color: #d4d4d4;
    color: #6d6d6d;
    width: 100px;
    background-color: white;
    position: absolute;
    height: 25vh;
    // overflow: auto;
    z-index: 100;
    top: 100%; /* 부모 요소 아래에 나타나도록 */
    height: auto;
    max-height: 23vh; /* 스크롤이 필요한 경우만 스크롤 */
    overflow-y: auto;
    li {
      margin: 5px 5px 5px 15px;
    }
  }
}

//top패션로그 텍스트

.tag-fashion-log-container {
  display: flex;
  width: 100%;
  justify-content: left;
  overflow-x: auto;

  margin-bottom: 20px;
  .top-fashion-log-item {
    position: relative;
    margin-right: 5px;
    .log-image {
      width: 102px;
      height: 102px;
      object-fit: cover; /* 이미지를 박스에 맞추기 */
      display: block; /* 이미지가 블록 요소로 동작 */
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
      z-index: 1; /* 텍스트 위에 위치하지 않도록 */
    }
    .log-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* 중앙 정렬 */
      color: #fff; /* 흰색 텍스트 */
      font-size: 12px;

      z-index: 2; /* 검은 필터 위에 표시되도록 */
      text-align: center;
      white-space: nowrap; /* 텍스트 줄바꿈 방지 */
      overflow: hidden;
      text-overflow: ellipsis; /* 텍스트 넘칠 경우 '...' 처리 */
      width: 90%; /* 텍스트 영역 제한 */
    }
  }
}

//top패션로그 텍스트
.top-fashion-log-text {
  margin: 5px;
}
.top-fashion-log-container {
  display: flex;
  width: 100%;
  justify-content: left;
  overflow-x: auto;

  margin-bottom: 20px;
  .top-fashion-log-item {
    position: relative;
    .log-image {
      margin-right: 5px;
      width: 102px;
      height: 102px;
      object-fit: cover; /* 이미지를 박스에 맞추기 */
      display: block; /* 이미지가 블록 요소로 동작 */
    }
  }
}

.weekend-hot-keyword-item {
  position: relative;
  display: flex;
  .keyword-text {
    margin: 5px;
    padding: 7px 11px 7px 11px;
    border: 1.3px solid;
    border-radius: 13px;
    border-color: #7a7a7a;
    color: #5c5b5b;
    font-size: 14px;
  }
}

//상단 이미지
.recommendW {
  position: absolute;
  top: 28%;
  right: 0;
  img {
    height: 11vh;
  }
}

//추천페이지

.reco-page-dropdown-list {
  display: flex;

  .reco-page-dropdown {
    margin-right: 5px;
  }
}

.filterRecoData-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  img {
    margin-right: 8px;
    width: 100px;
    height: 100px;
  }
}
