.my-page-container {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 16vh;

  padding-bottom: 10px;
}
.my-page-user-container {
  display: flex;
  flex-direction: column;
  width: 32vw;
  justify-content: center;
  align-content: center;
  margin-right: 10px;
  .my-page-image {
    display: flex;
    justify-content: center;
    align-content: center;
    .my-page-image-inner {
      text-align: center;
      width: 70px;
      height: 70px;
      border-radius: 100%;
      background-color: gray;
      margin-bottom: 5px;
    }
  }
  .my-page-user-nickname {
    display: flex;
    justify-content: center;
    align-content: center;
    .my-page-user-nickname-inner {
      color: #828282;
      font-size: 25px;
      font-weight: 800;
    }
  }
}
.my-page-button-container {
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 2px;
  display: flex;
  .my-page-button {
    margin: 5px;
    img {
      width: 16px;
    }
  }
}

.my-page-log-out-box {
  background-color: rgba(235, 235, 235, 0.2);
  border-radius: 10px;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  width: 1px;
  height: 50px;
  margin-right: 20px;
  background-color: rgba(117, 117, 117, 0.09);
}
.my-page-data-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  .my-page-log-follow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    color: #777777;
    font-weight: 450;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .my-page-number {
    .my-page-number-inner {
      margin-top: 5px;
      font-weight: 500;
    }
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
  }
  .my-page-coment {
    // margin-right: 20px;
    height: 41px;
    font-size: 13px;
    color: #a7a7a7;
    overflow: hidden;
  }
}
.my-page-hr {
  margin: 0px;
  border: 0;
}
.my-page-user-container {
  position: relative;
  bottom: 10px;
}

.my-page-user-container-outline {
  display: flex;
}
.maypage-log-container {
  position: relative;

  overflow: scroll;
  .my-page-log-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3열 그리드
    gap: 0px; // 이미지 간 간격 설정

    .my-page-log-image-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .my-page-log-image-size {
        position: relative;
        width: 100%;
        padding-top: 130%; // 1:1.3 비율 유지
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; // 이미지가 셀을 꽉 채우도록 설정
        }
      }

      .my-page-log-place-name {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        font-size: 13px;
        font-weight: 500;
        margin-top: 3px; // 이미지와 텍스트 사이 간격 추가
        margin-bottom: 6px;

        .my-page-log-place-name-text {
          width: 100%; /* 너비를 100%로 설정 */
          white-space: nowrap; /* 줄바꿈 방지 */
          overflow: hidden; /* 넘치는 텍스트 숨기기 */
          text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
        }

        img {
          width: 14px;
          margin-right: 6px;
        }
      }
    }
  }
}

//--------------세팅페이지-------------------
.setting-container {
  margin-top: 75px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 450;
}
.setting-container-another {
  margin-left: 30px;
  font-size: 15px;
  font-weight: 450;
}

.setting-link {
  margin-top: 15px;
}
.setting-link-com {
  @include link-style;
}

.sign-out-red {
  color: red;
}
