@mixin main-black {
  color: 1B1B1B;
}

// 나중에 하단 고정 코드도 적어야 함
@mixin bottom-button-container {
  width: 100vw;
  max-width: 560px;
  position: fixed;
  bottom: 0px; // 하단 여백 조정
  left: 50%; // 가운데 정렬을 위해
  transform: translateX(-50%); // 가운데 정렬
  z-index: 100; //
  padding: 20px;
}
@mixin bottom-button {
  height: 52px;
  background-color: var(--main-black);
  cursor: pointer;
  text-align: center;
  color: white;
  // 버튼 내부 여백 조정
}
