@mixin main-black {
  color: 1B1B1B;
}

// 나중에 하단 고정 코드도 적어야 함
//하단 버튼 믹스인
@mixin bottom-button {
  position: fixed;
  bottom: 0px;
  width: calc(100% - 40px); // 전체 너비에서 좌우 마진을 뺀 값
  max-width: 560px;
  height: 52px;
  margin: 0 20px 20px 20px;
  background-color: var(--main-black);
  cursor: pointer;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

//링크 컴포넌트 색상,밑줄 없애기

@mixin link-style {
  color: var(--main-black);
  text-decoration: none;
  cursor: pointer;
}

//input 박스 없애고 하단 밑줄만
@mixin input-underbar {
  border-bottom: 2px solid;
  border-color: #121212;
}
