.header-box {
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: white;
}
.header-inner-box {
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}

.header-main-logo {
  height: 50px;
}
.header-icon {
  width: 50px;
  cursor: pointer;
}
