.home-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  h1 {
    color: white;
  }
  .home-main-text {
    margin-top: 120px;
    margin-left: 20px;
  }
  .home-sub-text {
    margin-left: 20px;
    margin-top: 20px;
  }
  .home-w {
    scale: 90%;
    position: relative;
    right: 262px;
    margin-top: 125px;
  }
}
// ------------------------------------로그인-------------------------
.kakao-login-icon {
  position: relative;
  top: 310px;
  left: 27px;
}
.justshow-button {
  position: relative;
  top: 320px;
  left: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 296px;
  height: 46px;
  background-color: #313131;
  @include link-style;
  color: #adadad;
  border: 2px solid #6e6e6e;
}
