.home-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  h1 {
    color: white;
  }

  .home-main-text {
    text-decoration: none !important;
    border-bottom: none !important;
    color: white;
    margin-top: 110px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: 500;
  }
  .home-sub-text {
    text-decoration: none !important;
    border-bottom: none !important;
    color: rgb(116, 116, 116);
    margin-left: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 50;
  }

  .home-w {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0;
    bottom: 0;
  }
}
// ------------------------------------로그인-------------------------

.snsLogin-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  bottom: 30px;
  width: 100%;
}
.justshow-button {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 296px;
  height: 46px;
  background-color: #313131;
  @include link-style;
  color: #adadad;
  border: 2px solid #6e6e6e;
}

.social-login-button {
  margin-top: 13px;
  display: flex;
  @include link-style;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  .social-login-image {
    justify-content: center;
    align-items: center;
  }
}
.kakao-button {
  background-color: #fde500;
  img {
    position: relative;
    right: 55px;
    top: 2px;
  }
}
.naver-button {
  background-color: #21cb01;
  img {
    position: relative;
    right: 55px;
    top: 2px;
  }
}
.google-button {
  background-color: #ffffff;
  img {
    position: relative;
    right: 63px;
    top: 2px;
  }
}
